<header>
	<div id="navContainer">
		<div class="mainLogo">
			<a class="logo" href="/"> <img src="/lib/img/henstagram.png"
				height="36px">
			</a>
		</div>
		{{#sessionedUser}}
		<div class="navSearchBar">
			<input class="navSearch" type="text" autocapitalize="none"
				placeholder="검색" value=""> <span class="navSearchIcon"><a
				class="navSearch" href="#"><img src="/lib/img/search.png"
					height="14px"></a></span>
		</div>
		<div class="iconsBar">
			<nav>
				
				<ul class="nav-items">
					<li><a href="/explore"><img src="/lib/img/navigation.png"
							height="36px"></a></li>
					<li><a href="/hearts"><img src="/lib/img/hearts.png"
							height="36px"></a></li> 
					
					<li><a href="/persInf/{{id}}"><img
							src="/lib/img/profile.png" height="36px"></a></li>
					{{/sessionedUser}}
				</ul>

			</nav>
		</div>
	</div>
</header>