<html>
<head>
{{> /include/header}}
<link rel="stylesheet" href="/lib/css/explore.css">
</head>
<body>
	{{> /include/nav}}
	<div id="exploreContainer">
		<h4>팔로우할 만한 계정 둘러보기</h4>
		<div class="exploreHeader">
			<div class="exploreUsers">
				<div class="exploreUserImage">
					<img src="lib/img/profile/profile.png" height="78px">
				</div>
				<h4>김개똥</h4>
				<h5>henry_kkk님 외 10명이 팔로우 합니다.</h5>
				<div class="exploreButtonContainer">
					<button class="exploreButton">팔로우</button>
				</div>
			</div>
			<div class="exploreUsers">
				<div class="exploreUserImage">
					<img src="lib/img/profile/profile.png" height="78px">
				</div>
				<h4>김개똥</h4>
				<h5>henry_kkk님 외 10명이 팔로우 합니다.</h5>
				<div class="exploreButtonContainer">
					<button class="exploreButton">팔로우</button>
				</div>
			</div>
			<div class="exploreUsers">
				<div class="exploreUserImage">
					<img src="lib/img/profile/profile.png" height="78px">
				</div>
				<h4>김개똥</h4>
				<h5>henry_kkk님 외 10명이 팔로우 합니다.</h5>
				<div class="exploreButtonContainer">
					<button class="exploreButton">팔로우</button>
				</div>
			</div>
		</div>
		<div class="persArticlesContainer">
			<div class="persArticleHeader">
				<h4>둘러보기</h4>
			</div>
			<div class="articlesList">
				<div class="articleBody">
					<a>
						<div class="articleBodyImage">
							<img class="imageSizing" src="lib/img/article/article1.jpg">
						</div>
					</a>
				</div>
				<div class="articleBody">
					<a>
						<div class="articleBodyImage">
							<img class="imageSizing" src="lib/img/article/article1.jpg">
						</div>
					</a>
				</div>
				<div class="articleBody">
					<a>
						<div class="articleBodyImage">
							<img class="imageSizing" src="lib/img/article/article1.jpg">
						</div>
					</a>
				</div>
			</div>
			<div class="articlesList">
				<div class="articleBody">
					<a>
						<div class="articleBodyImage">
							<img class="imageSizing" src="lib/img/article/article1.jpg">
						</div>
					</a>
				</div>
				<div class="articleBody">
					<a>
						<div class="articleBodyImage">
							<img class="imageSizing" src="lib/img/article/article1.jpg">
						</div>
					</a>
				</div>
				<div class="articleBody">
					<a>
						<div class="articleBodyImage">
							<img class="imageSizing" src="lib/img/article/article1.jpg">
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	{{> /include/footer}}
</body>

</html>
