<html>
<head>
{{> /include/header}}
<link rel="stylesheet" href="/lib/css/persInf.css">
</head>
<body>
	{{> /include/nav}}
	<div id="persInfContainer">
		<div class="persInfHeaderContainer">
			<div class="persInfImage">
				<img src="lib/img/profile/profile.png" height="170px">
			</div>
			<section class="persInfSection">
				<div class="persInfHeader">
					<h2>henry_kkk</h2>
					<button class="persInfHeaderButton">팔로잉</button>
					<button class="persInfHeaderButton">...</button>
				</div>
				<div class="persInfBody">
					<ul>
						<li>게시물 <span><strong>232</strong></span></li>
						<li>팔로워 <span><strong>100</strong></span></li>
						<li>팔로잉 <span><strong>112</strong></span></li>
					</ul>
					<h3>김성남</h3>
					<h4>자기소개입니다.</h4>
				</div>
				<div class="persInfFollwers">
					<h5>
						<strong>김개똥</strong>님이 팔로우합니다.
					</h5>
				</div>
			</section>
		</div>
		<div class="persArticlesContainer">
			<div class="persArticleHeader">
				<h5>내 게시물 목록</h5>
			</div>
			<div class="articlesList">
				<div class="articleBody">
					<a>
						<div class="articleBodyImage">
							<img class="imageSizing" src="lib/img/article/article1.jpg">
						</div>
					</a>
				</div>
				<div class="articleBody">
					<a>
						<div class="articleBodyImage">
							<img class="imageSizing" src="lib/img/article/article1.jpg">
						</div>
					</a>
				</div>
				<div class="articleBody">
					<a>
						<div class="articleBodyImage">
							<img class="imageSizing" src="lib/img/article/article1.jpg">
						</div>
					</a>
				</div>
			</div>
			<div class="articlesList">
				<div class="articleBody">
					<a>
						<div class="articleBodyImage">
							<img class="imageSizing" src="lib/img/article/article1.jpg">
						</div>
					</a>
				</div>
				<div class="articleBody">
					<a>
						<div class="articleBodyImage">
							<img class="imageSizing" src="lib/img/article/article1.jpg">
						</div>
					</a>
				</div>
				<div class="articleBody">
					<a>
						<div class="articleBodyImage">
							<img class="imageSizing" src="lib/img/article/article1.jpg">
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	{{> /include/footer}}
</body>

</html>
