<html>
<head>
{{> /include/header}}
<link rel="stylesheet" href="/lib/css/showQuestions.css">
</head>
<body>
	{{> /include/nav}}
	<div id="showQuestionContainer">
		{{#sessionedUser}} {{#questionsDetail}}
		<div class="showQuestionMain">
			<table class="showQuestionTable">

				<thead>
					<tr class="background-dark">
						<th class="background-dark">{{title}}</th>
					</tr>
				</thead>
				<tbody id="showQuestionBody">
					<tr>
						<td>{{contents}}</td>
					</tr>
				</tbody>
			</table>
			<div class="buttonsContainer">
				<ul>

					<li>
						<button class="questionsButton"
							onclick="location.href='/questions/updateForm/{{id}}'">수정</button>
					</li>
					<li>
						<form action="/questions/{{id}}" method="post">
							<input type="hidden" name="_method" value="DELETE">
							<button class="questionsButton" type="submit">삭제</button>
						</form>
					</li>
				</ul>
			</div>
			<div class="answerWriteContainer">
				<form class="answer-write" method="post" action="/api/answer/{{id}}">
					<div class="form-group">
						<textarea class="answerWrite" placeholder="Update your status"
							name="contents"></textarea>
						<input type="submit" class="answer-button" value="답변하기" />
					</div>
				</form>
			</div>
			<!-- Ajax통신 결과 -->
			<div id="answerContainer">
			{{#answers}}
				<div class="answerHeader">
					<div class='answerHeaderleft'>
						<h4>{{writer.userId}}</h4>
					</div>
					<div class="answerHeaderRight">
						<h5>{{createDate}}</h5>
					</div>
				</div>
				<div class="answerBody">
					<p>{{contents}}</p>
				</div>
				{{/answers}}
			</div>
			
		</div>
	</div>
	{{> /include/footer}}
	<script type="text/template" id="answerTemplate">
	<div class="answerHeader">
		<div class='answerHeaderleft'>
			<h4>{0}</h4>
		</div>
		<div class="answerHeaderRight">
			<h5>{1}</h5>
		</div>
	</div>
	<div class="answerBody">
		<p>{2}</p>
	</div>
	</script>
	<script src="/lib/js/answerApi.js"></script>
	{{/questionsDetail}} {{/sessionedUser}}
</body>
</html>
