<html>
<head>
{{> /include/header}}
<link rel="stylesheet" href="/lib/css/showQuestions.css">
</head>
<body>
	{{> /include/nav}}
	<div id="showQuestionContainer">
		{{#sessionedUser}}
		<div class="showQuestionMain">
			<table class="showQuestionTable">
				{{#questionsDetail}}
				<thead>
					<tr class="background-dark">
						<th class="background-dark">{{title}}</th>
					</tr>
				</thead>
				<tbody id="showQuestionBody">
					<tr>
						<td>{{contents}}</td>
					</tr>
				</tbody>
			</table>
			<div class="buttonsContainer">
				<ul>
					<li>
						<button class="questionsButton" onclick="location.href='/questions/updateForm/{{id}}'">수정</button>
					</li>
					<li>
						<form action="/questions/{{id}}" method="post">
							<input type="hidden" name="_method" value="DELETE">
							<button class="questionsButton" type="submit">삭제</button>
						</form>
					</li>
					<li>
						<button class="questionsButton" onclick="location.href='/answer/{{id}}'">댓글 작성</button>
					</li>
				</ul>
			</div>
			{{/questionsDetail}}
			<div class="answerContainer">
				<div class="answerHeader">
					<div class="answerHeaderleft">
						<h4>아이디.</h4>
					</div>
					<div class="answerHeaderRight">
						<h5>2018.10.2 19:39:21</h5>
					</div>

				</div>
				<div class="answerBody">
					<p>이건 저렇고 저건 저런거 같은데요?</p>
				</div>
			</div>
		</div>
		{{/sessionedUser}}
	</div>
	{{> /include/footer}}
</body>

</html>
